.search-bar1 {
  display: flex;
 
  max-width: 400px;
  margin: 0 ;
  border: 1px solid #ccc;
  
}


.search-bar2 {
  display: flex;
  background-color: white;
  color: black;
  
  max-width: 400px;
 
  border: 1px solid #ccc;
  
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none;
 
}

